# Copy this file to .env and fill in your actual values
# Never commit the .env file to version control!

FACEBOOK_PAGE_ID=848283145025778
FACEBOOK_ACCESS_TOKEN=EAAV3SZBgcT98BPeCxiu0MdFC4DKId5fT3w6U9YmRewCitqetHBGEES4WXHWZA0uKUFz6UH2cQPLLEGAnJqAop6ZBAYuifCUZApka9CQmDFuJwIzY5wUBdPy9K2bVpV7mDU1jSSaCS5pDnrJzScoHacD1BNDbflS9YOrBgaumRAH0J1CaQvyvo5P2d6mabQWddWlLRQs87TmHKhuiU5kbo50j6TWNb7II2C9RLqxxLWHz4CEZD
